*
!.gitignore

!docker/
!docker/**/*

!packages/
!packages/**/

!.dockerignore
!.editorconfig
!.eslintignore
!.prettierignore
!.prettierrc

!changelog.config.cjs

!docker-compose.yml
!docker-compose.override-sample.yml

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

!LICENSE
!README.md

!tacos-ng.code-workspace
